<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h2>Thank you for your order <%= @order.email %>!</h2>
    
   
    <% @order.line_items.each do |items| %>
      
    <p><%= image_tag items.product.image.tiny %><%= items.product.name%><%= items.product.description%><%= items.quantity%></p>
    <%end%>
    <%= humanized_money_with_symbol @order.total %>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
